@using WebApplication.Models.Application
@model IEnumerable<WebApplication.Models.Application.Batch>

<div class="small-box bg-blue">
    <div class="inner">
        <h3>@ViewBag.tested</h3>
        <p>Batches Tested</p>
    </div>
    <div class="icon">
        <i class="ion ion-levels"></i>
    </div>
    <a href="@Url.Action("ByStatus", "Batch", new { status = BatchStatus.Tested })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>

@RenderPage("~/Views/Home/_ListBatches.cshtml", new { actionName = "Create" })
