@using WebApplication.Models.Application
@model IEnumerable<WebApplication.Models.Application.RefurbRequest>

<div class="small-box StatusPrior-3">
    <div class="inner">
        <h3>@ViewBag.cosmetic</h3>
        <p>Waiting Cosmetic</p>
    </div>
    <div class="icon">
        <i class="ion ion-bowtie"></i>
    </div>
    <a href="@Url.Action("ByStatus", "RefurbRequest", new { status = RequestFlowStatus.SentToCosmetic })" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>


@RenderPage("~/Views/Home/_ListRequests.cshtml", new { actionName = "Cosmetic" })
